# v0 runtime files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts

# Common ignores
node_modules/
.next/
.env*
.local
.DS_Store
# Java / Maven
backend/target/
*.class

# Flutter / Dart
aplicativo-smartstock/.dart_tool/
aplicativo-smartstock/build/
aplicativo-smartstock/.flutter-plugins
aplicativo-smartstock/.flutter-plugins-dependencies
.packages
